<header class="tui-form__header tui-space_top-3 header ">
    <div class="header__logo">
      <a href="" class="tui-space_left-3 header__link">Solo-It</a>
      <tui-svg class="tui-space_left-3 header__svg" src="tuiIconZapLarge"></tui-svg>
    </div>
    <div class="header__links">
      <a routerLink="/main"  class="tui-space_right-2 header__link">Main</a>
      <a routerLink="/vebinars" class="tui-space_right-2 header__link">Webinars</a>
      <a routerLink="/settings" class="tui-space_right-3 header__link">Settings</a>
    </div>
  </header>