<tui-root>
    <app-header></app-header>
    <main>
      <div class="form">
        <div class="form__title">
          <h1>Доступ к Bizon</h1>
          <a href="#">перейти на Bizon</a>
          <tui-svg class="form__title__svg" src="tuiIconExternalLink"></tui-svg>
        </div>
        <h2 class="tui-text_body-l-2">E-mail</h2>
        <div class="inputs__block">
          <tui-input class="tui-space_vertical-4" formControlName="email">
            Введите e-mail
            <input tuiTextfield type="email" />
            <tui-svg class="email__svg" src="tuiIconMailLarge"></tui-svg>
          </tui-input>
          <h2 class="tui-text_body-l-2">Api-токен</h2>
          <tui-input class="tui-space_vertical-6" formControlName="api-token">
            Введите Api-token
            <input tuiTextfield type="text" />
            <tui-svg class="api__svg" src="tuiIconLockLarge"></tui-svg>
          </tui-input>
        </div>
        <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3">
          Сохранить
        </button>
        <div class="mainInfo">
          <div class="mainInfo_left">
            <p class="tui-text_h2">Где взять "API-токен"</p>
            <iframe max-width="500" max-height="300" src="https://www.youtube.com/embed/4Q9-v2L4h3U" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
          </div>
          <div class="mainInfo__Right">
            <p class="tui-text_h5 alert">
              <tui-svg class="" src="tuiIconCheck"></tui-svg>
              Важно!</p>
            <p class="tui-text_body-l-2">1. В Бизон не забывайте нажать сохранить "API-токен",не просто сгенерировать,<br> а обязательно нажать
              СОХРАНИТЬ!
            </p>
            <p class="tui-text_body-l-2">2. API Bizon работает через "страницы регистрации" самого бизона - они нужны для смен даты,для регистрации
               пользователей в Bizon.Т.Е. если нужна смена даты - в Bizon должна быть создана страница и к ней должна быть
               прикреплена комната.
               Если нужно собирать базу в Bizon, также нужна страница регистрации, плюс подключена услуга "Страницы регистрации".
            </p>
          </div>
  
        </div>
      </div>
    </main>
  </tui-root>