<tui-root>
  <header class="tui-form__header tui-space_top-3 header ">
    <div class="header__logo">
      <a  href="" class="tui-space_left-3 header__link">Solo-It</a>
      <tui-svg class="tui-space_left-3 header__svg" src="tuiIconZapLarge"></tui-svg>
    </div>
    <div class="header__links">
      <a  href="" class="tui-space_right-2 header__link">Main</a>
      <a href="" class="tui-space_right-2 header__link">Vebinars</a>
      <a href="" class="tui-space_right-3 header__link">Settings</a>
    </div>
  </header>
  <tui-input formControlName="email">
    Type an email
    <input
        tuiTextfield
        type="email"
    />
    <tui-svg class="email__svg" src="tuiIconMailLarge"></tui-svg>
</tui-input>


<button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
    >
        Submit
    </button>
</tui-root>
